﻿@page "/"
@using Item = kanbanapp.contracts.Item
@using kanbanapp.contracts
@using kanbanapp.Client.apiclient

@inject KanbanClient KanbanClient;

<PageTitle>Kanban Board</PageTitle>

<h1>Kanban Board</h1>

<div class="container">
    <div class="row">
        @{
            for (var columnIndex = 0; columnIndex < _board.Columns.Count; columnIndex++) {
                var column = _board.Columns.ElementAt(columnIndex);
                <div class="col">
                <h2>@column.Name</h2>
                    <DataGrid TItem="Item"
                              Data="@_board.Columns[columnIndex].Items"
                              @bind-SelectedRow="@_selectedEntry"
                              Responsive>
                        <DataGridCommandColumn/>
                        <DataGridColumn Field="@nameof(Item.Title)" Caption="Titel"/>
                    </DataGrid>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col">
            <Validations @ref="@ValidationsRef" Mode="ValidationMode.Manual" Model="@NewItem" ValidateOnLoad="false">
                <Fields>
                    <Validation>
                        <Field>
                            <FieldLabel>Title</FieldLabel>
                            <FieldBody>
                                <TextEdit @bind-Text="@NewItem.Title">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                </Fields>
            </Validations>
            <Button Color="Color.Primary" Clicked="@OnCreateClicked">Create</Button>
        </div>
        <div class="col">
            <Button Color="Color.Primary" Clicked="@OnLeftClicked">&lt;-</Button>
            <Button Color="Color.Primary" Clicked="@OnRightClicked">-&gt;</Button>
            <Button Color="Color.Primary" Clicked="@OnUpClicked">^</Button>
            <Button Color="Color.Primary" Clicked="@OnDownClicked">v</Button>
        </div>
    </div>
</div>

@code {
    private Item? _selectedEntry;
    private Board _board = new();

    private Validations ValidationsRef { get; set; } = new();
    private Item NewItem { get; set; } = new();

    protected override async Task OnInitializedAsync() {
        _board = await KanbanClient.GetBoardAsync();
    }

    private async Task OnCreateClicked() {
        if (await ValidationsRef.ValidateAll()) {
            _board = await KanbanClient.CreateNewAsync(NewItem);
            StateHasChanged();
            await ValidationsRef.ClearAll();
        }
    }

    private async Task OnLeftClicked() {
        if (_selectedEntry == null) {
            return;
        }
        _board = await KanbanClient.LeftAsync(_selectedEntry.Id);
        _selectedEntry = null;
        StateHasChanged();
    }

    private async Task OnRightClicked() {
        if (_selectedEntry == null) {
            return;
        }
        _board = await KanbanClient.RightAsync(_selectedEntry.Id);
        _selectedEntry = null;
        StateHasChanged();
    }

    private async Task OnUpClicked() {
        if (_selectedEntry == null) {
            return;
        }
        _board = await KanbanClient.UpAsync(_selectedEntry.Id);
        _selectedEntry = null;
        StateHasChanged();
    }

    private async Task OnDownClicked() {
        if (_selectedEntry == null) {
            return;
        }
        _board = await KanbanClient.DownAsync(_selectedEntry.Id);
        _selectedEntry = null;
        StateHasChanged();
    }
}